*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'roboto',sans-serif;
}

.navbar
{
    
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
    font-family: 'Kanit', sans-serif;
    backdrop-filter: blur(10px);
    color: rgb(181, 181, 186);
    margin-left: 1300px;
    font-weight: bolder;
    margin-top: 20px;
   
}



.navbar ul 
{
    list-style: none;
    display: flex;
    
    
}

.navbar li
{
    display: flex;
    padding: 10px 30px;
    
}

.navbar li a
{
    
    text-decoration: none;
    font-size: 20px;
    color: white;
    
    
}
.navbar a{
    padding: 15px;
}

.navbar ul li a:hover{
    border-bottom: 1px solid #0c0cdd;
    color: rgb(183, 177, 177);
    border-radius: 12px;
}
body{
    background-image: url(profilebg.jpg);
}
.heading{
    width:90%;
    display:flex;
    justify-content:center;
    text-align:center;
    margin:20px auto;
}
.heading h1{
    font-size:50px;
    color:#403838b3;
    margin-bottom:25px;
    position:relative;
}
.heading h1::after{
    content:"";
    position:absolute;
    width:100%;
    height:4px;
    display:block;
    margin:0 auto;
    background-color:#1b6dabb3;
}
.moto h2{
    font-size:30px;
    color:#2e1d03b3;
    justify-content:center;
    margin-left: 20px;
    margin-bottom:35px;
}
