

body {
    background-color: rgba(0, 0, 0, 0.623);
    color: yellow;
    font-family: Arial, sans-serif;
}
.navbar
{
    
    height: 50px;
    width: 30%;
    align-items: center;
    display: flex;
    font-family: 'Kanit', sans-serif;
    backdrop-filter: blur(10px);
    color: blue;
   margin-left: 1000px;
}

.navbar ul 
{
    list-style: none;
    display: flex;
    
    
}

.navbar li
{
    display: flex;
    padding: 10px 30px;
    
}

.navbar li a
{
    
    text-decoration: none;
    font-size: 20px;
    color: white;
    background: transparent;
}
.navbar a{
    padding: 15px;
}

.navbar ul li a:hover{
    border-bottom: 1px solid #0c0cdd;
    color: rgb(176, 178, 209);
    border-radius: 12px;
}

.container {
    margin-top: 250px;
}

form {
    text-align: center;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.message {
    text-align: center;
    margin-top: 20px;
}
